/* 
  With SF the best and sometimes only way to get these styles is to use !important because SF / React will create unique, scoped classes for items. 
  
*/

:root {
  --um-blue: #00274c;
  --um-maize: #ffcb05;
  --um-maize--50: #fffbeb;

  /* Bright blue/800 */
  --mo-blue--link: #193a9f;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

/* Event Builder Class Specific targets */
body,
.content {
  font-family: "Atkinson Hyperlegible", "DM Sans", sans-serif !important;
  font-size: 17px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 .event-name,
.title,
[class*="speaker-profile-overlay"] .speaker-name {
  font-family: "DM Serif Display", Georgia, serif !important;
  letter-spacing: 0px !important;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2.125 rem !important;
}

/* Linkable things */

.nav-item,
.full-profile-link,
.mat-expansion-panel-header-title h4 {
  color: var(--mo-blue--link) !important;
}

.nav-item {
  font-weight: 800 !important;
}

.content p {
  font-size: 1rem !important;
  line-height: 1.6 !important;
}

/* Speaker Profiles Overlay */

[class*="speaker-profile-overlay"] {
  background: var(--um-maize--50) !important;
}

/* [class*="speaker-profile-overlay"] .content p, 
[class*="speaker-profile-overlay"] .details,
[class*="speaker-profile-overlay"] .speaker-name,
[class*="speaker-profile-overlay"] .bio-section,
[class*="speaker-profile-overlay"] .mat-icon,
[class*="speaker-profile-overlay"] .speaker-company-title
 {
} */

[class*="speaker-profile-overlay"] .mat-icon {
  transition: 300ms ease-in-out;
}

[class*="speaker-profile-overlay"] .mat-icon:hover {
  transform: scale(1.5);
  transition: transform 300ms ease-in-out;
}

.speaker-bio {
  border-bottom-color: white !important;
}

.speaker-title {
  font-weight: 900 !important;
  letter-spacing: 0.1 !important;
  font-size: 1.25rem !important;
}

.venue {
  font-weight: 700 !important;
  line-height: 1 !important;
}

.event-date-container {
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  line-height: 1 !important;
}

.speaker-image.custom-text {
  font-size: 8rem !important;
  font-weight: 900 !important;
  padding-bottom: 28px !important;
  max-height: 240px !important;
  width: 270px !important;
}

.speaker-image {
  position: relative !important;
}

/* Variation 1: */
.speaker-details:nth-child(1) > .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(-8deg);
  clip-path: path(
    "M625 60.2093C625 25.4734 595.594 -2.00464 560.938 0.346998L55.9379 34.6143C24.4499 36.751 0 62.9162 0 94.4767V523.627C0 551.404 19.0662 575.55 46.0864 581.991L551.086 702.38C588.793 711.369 625 682.778 625 644.015V60.2093Z"
  );
}

/* Variation 2: */
.speaker-details:nth-child(2) > .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(12deg);
  clip-path: path(
    "M625 60.2093C625 25.4734 595.594 -2.00464 560.938 0.346998L55.9379 34.6143C24.4499 36.751 0 62.9162 0 94.4767V494.959C0 533.742 36.2403 562.336 73.9586 553.313L578.959 432.513C605.957 426.055 625 401.92 625 374.16V60.2093Z"
  );
}

/* Variation 3: */
.speaker-details:nth-child(3) > .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(-16deg);
  clip-path: path(
    "M591 166.519C591 139.139 572.464 115.232 545.948 108.411L134.227 2.50036C99.1825 -6.51445 64.1919 17.31 59.736 53.2201L1.38263 523.484C-3.31568 561.347 28.0546 593.921 66.0678 590.652L536.142 550.219C567.171 547.55 591 521.583 591 490.439V166.519Z"
  );
}

/* Variation 4: */
.speaker-details:nth-child(4) > .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(5deg);
  clip-path: path(
    "M591.92 72.0558C590.838 40.5046 565.491 15.189 533.939 14.1454L128.274 0.728499C98.3157 -0.26234 72.2222 21.0084 67.1544 50.5516L1.63744 432.49C-4.05614 465.682 18.6761 497.057 51.9894 501.988L538.281 573.959C575.344 579.445 608.314 549.995 607.03 512.549L591.92 72.0558Z"
  );
}

/* Variation 5: */
.speaker-details:nth-child(5) > .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(-4deg);
  clip-path: path(
    "M625 837C625 809.65 643.496 785.76 669.975 778.912L1098.98 667.95C1136.96 658.125 1174 686.803 1174 726.038V1013.09C1174 1040.44 1155.5 1064.33 1129.02 1071.18L700.025 1182.14C662.039 1191.96 625 1163.29 625 1124.05V837Z"
  );
}

/* Variation 6: */
.speaker-details:nth-child(6) > .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(18deg);
  clip-path: path(
    "M0.974976 347.412C0.974976 374.763 19.4713 398.652 45.9503 405.501L474.95 516.462C512.936 526.287 549.975 497.61 549.975 458.374V171.323C549.975 143.973 531.479 120.084 505 113.235L75.9998 2.27295C38.0142 -7.55211 0.974976 21.1259 0.974976 60.3616V347.412Z"
  );
}
.button-wrapper .mat-icon {
  fill: white !important;
}

.button-wrapper button {
  background-color: var(--mo-blue--link) !important;
  color: white !important;
  background-color: #193a9f;
  color: white;
  fill: white;
  letter-spacing: 0;
  font-weight: 900;
  font-family: "DM Sans";

  color: white !important;
  fill: white !important;
  letter-spacing: 0 !important;
  font-weight: 900 !important;
  font-family: "DM Sans" !important;
}

.button-wrapper .mat-icon {
  fill: white !important;
}

/* FAQ, Mat Expansion Panels */

.mat-expansion-panel + .faq-category-title {
  margin-top: 3rem;
}

.mat-content {
  align-items: center;
}

/* Left align text rather than center */

.event-where-when,
.event-name,
.title {
  text-align: left !important;
}

.event-where-when {
  align-items: flex-start !important;
}
