/* 
  With SF the best and sometimes only way to get these styles is to use !important because SF / React will create unique, scoped classes for items. 
  
*/

:root {
  --um-blue: #00274c;
  --um-maize: #ffcb05;
  --um-maize--50: #fffbeb;

  /* Bright blue/800 */
  --mo-blue--link: #193a9f;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

/* Event Builder Class Specific targets */
body,
.content {
  font-family: "Atkinson Hyperlegible", "DM Sans", sans-serif !important;
  font-size: 17px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 .event-name,
.title,
[class*="speaker-profile-overlay"] .speaker-name {
  font-family: "DM Serif Display", Georgia, serif !important;
  letter-spacing: 0px !important;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2.125 rem !important;
}

/* Linkable things */

.nav-item,
.full-profile-link,
.mat-expansion-panel-header-title h4 {
  color: var(--mo-blue--link) !important;
}

.nav-item {
  font-weight: 800 !important;
}

.content p {
  font-size: 1rem !important;
  line-height: 1.6 !important;
}

/* Speaker Profiles Overlay */

[class*="speaker-profile-overlay"] {
  background: var(--um-maize--50) !important;
}

/* [class*="speaker-profile-overlay"] .content p, 
[class*="speaker-profile-overlay"] .details,
[class*="speaker-profile-overlay"] .speaker-name,
[class*="speaker-profile-overlay"] .bio-section,
[class*="speaker-profile-overlay"] .mat-icon,
[class*="speaker-profile-overlay"] .speaker-company-title
 {
} */

[class*="speaker-profile-overlay"] .mat-icon {
  transition: 300ms ease-in-out;
}

[class*="speaker-profile-overlay"] .mat-icon:hover {
  transform: scale(1.5);
  transition: transform 300ms ease-in-out;
}

.speaker-bio {
  border-bottom-color: white !important;
}

.speaker-title {
  font-weight: 900 !important;
  letter-spacing: 0.1 !important;
  font-size: 1.25rem !important;
}

.venue {
  font-weight: 700 !important;
  line-height: 1 !important;
}

.event-date-container {
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  line-height: 1 !important;
}

.speaker-image.custom-text {
  font-size: 8rem !important;
  font-weight: 900 !important;
  padding-bottom: 28px !important;
  max-height: 240px !important;
  width: 270px !important;
}

.speaker-image {
  position: relative !important;
}

/* Variation 1: (Original + rotation) */
.speaker-details:nth-child(1) .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(-8deg);
  clip-path: path(
    "M240 20.471162C240 8.660876 229.38624 -0.769582 215.759392 0.130819L21.46353 11.399462C9.367175 12.495851 0 21.391508 0 32.121078V178.03318C0 187.97736 7.28121 196.687 17.000736 199.87694L211.103424 238.8092C225.157632 241.86946 240 231.134352 240 217.924436V20.471162Z"
  );
}

/* Variation 2: (Right side higher, rotate +12°) */
.speaker-details:nth-child(2) .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(12deg);
  clip-path: path(
    "M240 8C240 0 220 -5 210 8L30 25C10 28 0 35 0 53V190C0 200 8 214 23 216L220 238C233 241 240 231 240 215V8Z"
  );
}

/* Variation 3: (Chunk out of bottom right, rotate -16°) */
.speaker-details:nth-child(3) .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(-16deg);
  clip-path: path(
    "M240 25C240 6 233 -4 210 1L33 31C8 35 0 53 0 75V173C0 194 8 205 28 210L180 240C210 250 215 220 240 200V25Z"
  );
}

/* Variation 4: (Smoother top, steeper left side, rotate +5°) */
.speaker-details:nth-child(4) .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(5deg);
  clip-path: path(
    "M240 30C240 16 226 -2 205 10L15 42C0 45 0 62 0 85V175C0 195 14 213 33 218L215 236C228 240 240 226 240 208V30Z"
  );
}

/* Variation 5: (Bulge on bottom left, rotate -4°) */
.speaker-details:nth-child(5) .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(-4deg);
  clip-path: path(
    "M240 24C240 7 234 0 210 6L20 40C8 60 0 68 0 90V200C0 218 10 230 40 240L190 230C220 225 240 220 240 199V24Z"
  );
}

/* Variation 6: (Flatter bottom, right bulge, rotate +18°) */
.speaker-details:nth-child(6) .speaker-image:after {
  content: " ";
  background: var(--um-maize);
  position: absolute;
  width: 290px;
  height: 280px;
  left: -10px;

  z-index: -1;
  transform: skewX(5deg) skewY(10deg) rotate(18deg);
  clip-path: path(
    "M240 16C240 0 215 -7 200 13L25 45C5 65 0 80 0 110V210C0 225 20 240 80 240L215 235C238 230 240 220 240 199V16Z"
  );
}

.button-wrapper .mat-icon {
  fill: white !important;
}

.button-wrapper button {
  background-color: var(--mo-blue--link) !important;
  color: white !important;
  background-color: #193a9f;
  font-family: "DM Sans";
}

.button-wrapper .mat-icon {
  fill: white !important;
}

/* FAQ, Mat Expansion Panels */

.mat-expansion-panel + .faq-category-title {
  margin-top: 3rem;
}

.mat-content {
  align-items: center;
}

/* Left align text rather than center */

.event-where-when,
.event-name,
.title {
  text-align: left !important;
}

.event-where-when {
  align-items: flex-start !important;
}
